
<html>
    <head>
        <meta charset="utf-8"> <!-- needed for ether symbol to display correctly -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="style.css">
        
        <script src="https://blockone.thomsonreuters.com/wallet-bar/bundle.js"></script>
        <script src="https://rawgit.com/ethereum/web3.js/develop/dist/web3.min.js"></script>
        
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        
    </head>
    <body ng-app="app" ng-controller="appCtrl as appCtrl" ng-cloak style="background-color: white;">

        <!-- Toolbar -->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
                    <span>uBet</span>
                </h2>
            </div>
        </md-toolbar>

        <div layout="row" style="margin-top:100px;">

            <!-- Request Card -->
            <md-card flex="33">
                 <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Request an Interest Rate Hedge</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    

                    <!-- Transaction Type  -->
                    <md-radio-group ng-model="request.type">
                        <md-radio-button value="0">Buy</md-radio-button>
                        <md-radio-button value="1">Sell</md-radio-button>
                    </md-radio-group>

                    <!-- Amount  -->
                    <md-input-container class="md-icon-float">
                        <label>Amount</label>
                        <md-icon md-font-library="material-icons">attach_money</md-icon>
                        <input type="number" step="any" name="rate" ng-model="request.amount"/>
                    </md-input-container>

                    <!-- Due Date  -->
                    <md-datepicker ng-model="request.date" md-placeholder="Due Date"></md-datepicker>

                    
                </md-card-content>

                <md-card-actions layout="row" layout-align="center center">
                    <md-button md-no-ink class="md-raised md-primary" ng-click="request(request.type, request.amount)">Request</md-button>
                </md-card-actions>
            </md-card>

            <!-- Offer Card -->
            <md-card flex="33">
                 <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Place an offer</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>

                    <!--<h5>What are we dealing?</h5>
                    <h5>Transaction Type: {{}}</h5>
                    <h5>Requester: {{}}</h5>-->
                    
                    <!-- List with offers-->
                    <md-list class="md-dense" flex>
                        <md-subheader class="md-no-sticky">Current Requests</md-subheader>
                        <div ng-repeat="offer in offers">
                            <md-list-item class="md-3-line" ng-click="">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Swap Rate</h3>
                                    <h4>{{offer.requester}}</h4>
                                    <p>{{offer.transactionType}}</p>
                                </div>
                            </md-list-item>
                            <md-divider ></md-divider>
                        </div>
                    </md-list>

                    <!-- Amount  -->
                    <md-input-container class="md-icon-float">
                        <label>Your Offer</label>
                        <md-icon md-font-library="material-icons">timeline</md-icon>
                        <input type="number" step="any" name="offer" ng-model="offer.offer"/>
                    </md-input-container>
                    
                </md-card-content>

                <md-card-actions layout="row" layout-align="center center">
                    <md-button md-no-ink class="md-raised md-primary" ng-click="offer(offer.offer)">Send Offer</md-button>
                </md-card-actions>
            </md-card>

            <!-- Accept Card -->
            <md-card flex="33">
                 <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Accept an offer</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    
                    <!-- List with accepts-->
                    <!-- List with offers-->
                    <md-list class="md-dense" flex>
                        <md-subheader class="md-no-sticky">Current Offers</md-subheader>
                        <div ng-repeat="a in accepts">
                            <md-list-item class="md-3-line" ng-click="">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Swap Rate</h3>
                                    <h4>{{a.requester}}</h4>
                                    <p>{{a.transactionType}}</p>
                                    <p>{{a.quote}}</p>
                                </div>
                            </md-list-item>
                            <md-divider ></md-divider>
                        </div>
                    </md-list>
                    
                </md-card-content>

                <md-card-actions layout="row" layout-align="center center">
                    <md-button md-no-ink class="md-raised md-primary" ng-click="accept()">Accept Offer</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <!-- Controller  -->
	<script src="app.js"></script>

    </body>
</html>
